body{
	background-color: rgb(40, 40, 40);
}

.container{
	display: flex;
	flex-wrap: wrap;
	float: left;
	justify-content: space-between;
	margin-left: 100px;
}

.container_item{
	background-color: rgb(225, 225, 225);
	border-radius: 8px;
	font-size: 10pt;
	height: 130px;
	margin-left: 20px;
	margin-top: 560px;
	opacity: 0.7;
	position: relative;
	text-align: center;
	width: 150px;
	z-index: 2;
}


.container_item:hover{
	opacity: 1;
	transition: all 0.8s ease;
}


.info{
	display: inline-block;
	position: relative;
}

.marsPic{
	display: block;
	height: 700px;
	width: 700px;
}

.moreInfo{
	opacity: 1;
	position: absolute;
}


.overlay{
	background-color: white;
	opacity: 0;
	position: absolute;
	transition: all 0.8s ease;
	/*margin-left: 10px;*/
}

.overlayFade{
	/*right click on element >> inspect >> click on backgorund-color >> change opacity*/
	background-color: #282828d9;
	color: white;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.picture{
	display: inline-block;
	height: 700px;
	margin-left: 100px;
	position: absolute;
	width: 700px;
	z-index: 1;
}

.picture:hover .overlay{
	opacity: 1;
}

.text{
	font-family: "TeXGyreAdventorRegular";
	font-size: 14pt;
	margin-left: 60px;	
	margin-top: 60px;
}

.text a {
	background-color: white;
	border-radius: 3px;
	color: black;
	font-size: 8pt;
	font-style: bold;
	box-shadow: 2px 4px #282828d9;
	padding: 4px;
}

.title{
	color: white;
	float: left;
	font-family: "American Typewriter, serif";
	font-size: 20pt;
	margin-left: 20px;
	width: 220px;
}

.title h3{
	font-family: "TeXGyreAdventorRegular";
	font-size: 10pt;	
	margin-top: -10px;
	text-align: justify;
}

.weather{
	margin-left: 0px;
}

@media only screen and (max-width: 600px) {
	.marsPic{
		display: block;
		height: 200px;
		width: 200px;
	}
	.picture{
		height: 200px;
		margin-left: 50px;
		margin-top: 50px;
		width: 200px;
	}
	.text{
		font-size: 5pt;
		margin-left: 5px;	
		margin-top: 5px;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		float: left;
		justify-content: space-between;
		margin-left: 5px;
	}
	.container_item{
		background-color: rgb(225, 225, 225);
		border-radius: 8px;
		font-size: 8pt;
		height: 100px;
		margin-left: 5px;
		margin-top: 5px;
		opacity: 0.7;
		padding: 5px;
		position: relative;
		text-align: center;
		width: 100px;
		z-index: 2;
	}
	.moreInfo{
		opacity: 0;
	}
}
